:root {
	--background: #F5F5DC;  /* Light beige */
}

body {
	margin-left: 15%;
	margin-right: 15%;
	background-color: var(--background);
}

.disabled {
	color: #777777;
}

.help {
	font-size: 8pt;
}

.hidden {
	display: none;
}

.label {
	vertical-align: middle;
}

#help-menu {
	position: absolute;
	left: 50%;
	width: 35%;
}

#help-menu-bar {
	background-color: red;
	border-radius: 8px 8px 0px 0px;
	overflow: hidden;
}

#help-menu-bar-title {
	margin: 0;
	float: left;
	padding: 4px 8px;
}

#help-menu-bar-close {
	margin: 0;
	float: right;
	padding: 4px 8px;
	background-color: pink;
}

#help-menu-body {
	background-color: blue;
	min-height: 128px;
	border-radius: 0px 0px 8px 8px;
}

#help-menu-body p {
	margin: 0;
	padding: 8px;
}

#help-menu-bar-title:hover {
	cursor: default;
}

#help-menu-bar-close:hover {
	cursor: pointer;
	background-color: green;
}
